* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

#calculatorContainer {
width: 100vw;
height: 100vh;
border: 5px solid black;
display: flex;
justify-content: center;
align-items: center;
}

#calculator{
width: 20vw;
height: 52vh;
border: 5px solid whitesmoke;
border-radius: 2px;
}

#display {
width: 100%;
height: 10vh;
text-align: center;
font-size: 40px;
padding-top: 2vh;
color: crimson;
}

.lines{
width: 100%;
height: 10vh;
background-color: rgba(220, 20, 60, 0.719);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.btns {
border-radius: 5px ;
height: 5vh;
width: 18%;
font-weight: bold;
cursor: pointer;
border-color: whitesmoke;
color: crimson;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#temporaryDisplay{
width: 10%;
height: 3%;
font-size: 30px;
margin-left: 44%;
color: crimson;

}


